body {
  background-color: rgb(221, 219, 219);
}
nav a {
  text-decoration: none;
  color: rgb(82, 18, 37);
  font-size: 22px;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  flex-wrap: wrap;
}
.titulo {
  color: rgb(204, 85, 121);
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
.subtitulo {
  color: rgb(129, 72, 99);
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: overline;
  text-align: center;
}
.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin: 5rem;
}

.banner img {
  object-fit: cover;
  height: 100%;
  display: block;
  max-width: 80%;
  border-radius: 20px;
  margin: 0 auto;
}

section p {
  color: rgb(0, 0, 0);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  margin-bottom: 50px;
  margin-top: 90px;
  font-weight: bold;
  max-width: 40ch;
}
.conteudo h1 {
  color: rgb(0, 0, 0);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 0px;
  font-size: 4rem;
}
section a {
  color: rgb(85, 14, 38);
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bold;
  background-color: transparent;
  padding: 0.7rem 1rem;
}
section a:hover {
  color: rgb(204, 120, 152);
  background-color: azure;
  padding: 0.7rem 1rem;
  border-radius: 4px;
}

section {
  align-items: center;
}

@media (max-width: 1900px) {
  .banner {
    grid-template-columns: 1fr;
    margin: 0;
  }
  .banner p {
    text-align: center;
    margin: 2rem auto;
    font-size: 1.5rem;
  }
  .banner h1 {
    font-size: 2rem;
  }
  .banner a {
    font-size: 1rem;
  }
  .conteudo,
  .img {
    text-align: center;
  }
  .img-cover {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}
@media (max-width: 612px) {
  .banner p {
    max-width: 80%;
    margin: 2rem auto;
    font-size: 1rem;
    text-align: center;
  }
}
/* cardapio */

.menu {
  color: rgb(204, 85, 121);
  display: flex;
  justify-content: center;
  gap: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.h2 {
  color: rgb(129, 72, 99);
  font-family: Georgia, "Times New Roman", Times, serif;
  display: center;
  text-align: center;
  margin: 60px 0;
  background-color: rgba(250, 230, 216, 0.445);
  border-radius: 10px;
  padding: 6px;
  width: 100%;
  box-sizing: border-box;
  font-size: 19px;
}
.lista {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  flex-wrap: wrap;
}
.lista li {
  background-color: rgba(161, 117, 87, 0.445);
  padding: 15px;
  border-radius: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  border: 1px solid rgb(129, 72, 99);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  list-style: none;
  width: 180px;
  text-align: center;
}
nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}
nav a:hover {
  color: rgb(255, 3, 99);
  font-size: 19px;
  text-decoration: underline;
}
li span {
  font-weight: bold;
  color: rgb(82, 18, 37);
  display: block;
  font-size: 15x;
}
.lista li:hover {
  background-color: rgba(202, 78, 115);
  color: rgb(243, 202, 216);
  font-size: 19px;
  transform: scale(1);
}
footer {
  background-color: rgb(129, 72, 99);
  color: rgb(243, 202, 216);
  text-align: center;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.voltar {
  display: block;
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  margin: 15px;
}
.voltar a {
  color: rgb(129, 72, 99);
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.voltar a:hover {
  color: rgb(255, 3, 99);
  font-size: 19px;
  text-decoration: underline;
}
/* página sobre nos */
.titulo2 {
  color: rgb(129, 72, 99);
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 50px;
}
.nos p {
  color: rgb(0, 0, 0);
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  line-height: 2;
  max-width: 95%;
}
.nos img {
  width: 35%;
  height: auto;
  border-radius: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 5%;
}
.nos {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nos h2 {
  margin-bottom: 1%;
  text-align: center;
  margin-top: 0px;
}
/* contato */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(77, 35, 55);
  font-weight: bold;
  align-items: center;
}
form input {
  width: 10%;
  height: auto;
  padding: 0.3%;
  border-radius: 10px;
  border: 1px solid rgb(204, 85, 121);
}
form textarea {
  width: 10%;
  height: auto;
  padding: 0.5%;
  border-radius: 10px;
  border: 1px solid rgb(204, 85, 121);
}
form button {
  width: 12%;
  height: auto;
  font-size: 20px;
  background-color: rgb(243, 202, 216);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 2%;
}
form button:hover {
  background-color: rgba(202, 78, 115);
  color: rgb(243, 202, 216);
  font-size: 19px;
  transform: scale(1);
}

.num {
  text-align: center;
}
.num p {
  margin: 0.4%;
}
